.completo{
    margin: 0 auto;


}


.boton{
    
    margin: 2px;
    width: 50px;
    height: 30px;
    text-align: center;
    
}

#promedio{
    font-size: 20px;
    width: 200px;
    height: 30px;
    
}
#resultado{
    font-size: 75px;
    width: 200px;
    height: 30px;
}